<h3>Exemplos de Pipes</h3>

<p>Título: {{ livro.titulo | uppercase | lowercase | camelCase }}</p>
<p>Estrelas: {{ livro.rating | number:'1.1-1' }}</p>
<p>Páginas: {{ livro.numeroPaginas | number }}</p>
<p>Preço: {{ livro.preco | currency }}</p>
<p>Data Lançamento: {{ livro.dataLancamento | date:'dd-MM-yyyy' }}</p>
<p>Url: {{ livro.url }}</p>
<br>

<pre>{{ livro | json }}</pre>

<label for="filtro">Filtrar</label>
<input type="text" name="filtro" id="filtro" [(ngModel)]="filtro">
<br>
<input type="text" #novoValor>
<button (click)="addCurso(novoValor.value)">Adicionar Curso</button>

<ul>
  <li *ngFor="let liv of livros | filtroArray: filtro">
    {{ liv }}
  </li>
</ul>
